/* start */
*{
    margin: 0%;
    padding: 0%;
}
.background-image {
  background-image: url(img/hero_1.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;
  opacity: 0.95;
}
.nav-item a{
    margin-left: 2rem;
    color: #fff;
    margin-right: 2rem;
}
.head{
    padding-right: 5%;
    float: right;
    padding-top: 5%;
}
.changer{
    color: aliceblue;
}

.bn1 {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 150px;
    margin: 7px;
    color: #ffffff;
    background-color: #36a2eb;
    border-radius: 8px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 300;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
  }
  .bn2{
    border: 1px solid white;
    padding: 10px;
    width: 135px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin: 7px;
  }
  .Para1{
    color: rgb(210, 211, 212);
    font-size: medium;
  }
  .bn2:hover{
    background-color: #c0c0c0;
  }
  .bn1:hover{
    background-color:#076eb3 ;
  }
/* next one */
.main{
    padding-top: 11rem;    
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: black;
    justify-content: space-around;
}